\%h2 Resend confirmation instructions

\.col-lg-6
\= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
\= devise_error_messages!
\.form-group
\= f.label :email
\%br/
\= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
\.actions
\= f.submit "Resend confirmation instructions"
\= render "devise/shared/links"
