- if @blog.errors.any?
  #error_explanation
    %h2
      = pluralize(@blog.errors.count, "error")
      prohibited this blog from being saved:
    %ul
      - @blog.errors.full_messages.each do |msg|
        %li= msg

.form-group
  = f.label :name
  %br/
  = f.text_field :name, autofocus: true, class: 'form-control'
.form-group
  = f.label :description
  %br/
  = f.text_area :description, class: 'form-control'