.row
.col-md-8.blog-main
  %h2.pb-3.mb-4.font-italic.border-bottom
    Blogs

  - @blogs.each do |blog|
    .blog-post
      %h2.blog-post-title= blog.name
      %p.blog-post-meta
        = blog.created_at.strftime('%B %d, %Y') 
        by
        = blog.user.full_name
      = simple_format blog.description

      %p
        = link_to "New Post", new_blog_post_path(blog), class: 'btn btn-sm btn-outline-primary'
        = link_to "View Blog", blog_path(blog), class: 'btn btn-sm btn-outline-secondary'
        - if can?(:manage, blog)
          = link_to "Edit Blog", edit_blog_path(blog), class: 'btn btn-sm btn-outline-secondary'
          = link_to "Delete Blog", blog_path(blog), method: :delete, class: 'btn btn-sm  btn-danger', data: { confirm: 'Are you sure to delete this blog as this will also delete all linked posts?' } 

  = blog_pagination(@blogs)

  = link_to "New Blog", new_blog_path, class: 'btn btn-sm btn-outline-secondary'