.row
.col-md-8.blog-main
  %h2.pb-3.mb-4.font-italic.border-bottom
    = @blog.name

  .blog-post
    %p.blog-post-meta
      = @blog.created_at.strftime('%B %d, %Y') 
      by
      = @blog.user.full_name
    = simple_format @blog.description
    
    %p
      = link_to "New Post", new_blog_post_path(@blog), class: 'btn btn-sm btn-outline-primary'
      - if can?(:manage, @blog)    
        = link_to "Edit Blog", edit_blog_path(@blog), class: 'btn btn-sm btn-outline-secondary'
        = link_to "Delete Blog", blog_path(@blog), method: :delete, class: 'btn btn-sm  btn-danger', data: { confirm: 'Are you sure to delete this blog as this will also delete all linked posts?' } 

  - if @blog.posts.count > 0
    %h2.pb-3.mb-4.font-italic.border-bottom
      Posts

    - @blog.posts.order("updated_at desc").all.each do |post|
      = render partial: 'posts/post', locals: {post: post, listing: true}

