%h2
  Edit #{resource_name.to_s.humanize}

.col-lg-6
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :full_name
      %br/
      = f.text_field :full_name, autofocus: true, autocomplete: "full_name", class: 'form-control'
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autocomplete: "email", class: 'form-control'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-group
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: "off"
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .form-group
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "off", class: 'form-control'
    .actions
      = f.submit "Update", class: 'btn btn-primary'

  %br    
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'}
  = link_to "Back", :back