%h2 Resend unlock instructions

.col-lg-6
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    .actions
      = f.submit "Resend unlock instructions", class: 'btn btn-primary'
      
  = render "devise/shared/links"
