%h2 Change your password

.col-lg-6
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .form-group
      = f.label :password, "New password"
      %br/
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
        %br/
      = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
    .form-group
      = f.label :password_confirmation, "Confirm new password"
      %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
    .actions
      = f.submit "Change my password", class: 'btn btn-primary'
      
  = render "devise/shared/links"