%h2 Log in

.col-lg-6
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: 'btn btn-primary'
  = render "devise/shared/links"