- if @post.errors.any?
  #error_explanation
    %h2
      = pluralize(@post.errors.count, "error")
      prohibited this post from being saved:
    %ul
      - @post.errors.full_messages.each do |msg|
        %li= msg

.form-group
  = f.label :title
  %br/
  = f.text_field :title, autofocus: true, class: 'form-control'
.form-group
  = f.label :body
  %br/
  = f.text_area :body, rows: 10, class: 'form-control'

