.blog-post
  - if listing ==  true
    %h2.blog-post-title
      = post.title
  %p.blog-post-meta
    = post.updated_at.strftime('%B %d, %Y') 
    by
    = post.user.full_name
    on
    = post.blog.name
  - if listing ==  true
    = simple_format truncate(post.body, length: 300)
  - else
    = simple_format post.body

  %p
    - if listing ==  true
      = link_to "View Post", blog_post_path(blog_id: post.blog_id, id: post.id), class: 'btn btn-sm btn-outline-primary'
    - if can?(:manage, post)
      = link_to "Edit Post", edit_blog_post_path(blog_id: post.blog_id, id: post.id), class: 'btn btn-sm btn-outline-secondary'
      = link_to "Delete Post", blog_post_path(blog_id: post.blog_id, id: post.id), method: :delete, class: 'btn btn-sm  btn-danger', data: { confirm: 'Are you sure?' } 