%h2 Edit Post

.col-lg-6
  = form_for([@post.blog, @post]) do |f|
    = render partial: 'form', locals: {f: f}
    .actions
      = f.submit "Update", class: 'btn btn-primary'

  %br
  = link_to 'Back', blog_path(@post.blog)