%h2 New #{@blog.name} Post

.col-lg-6
  = form_for([@blog, @post]) do |f|
    = render partial: 'form', locals: {f: f}
    .actions
      = f.submit "Create", class: 'btn btn-primary'

  %br
  = link_to 'Back', blog_path(@blog)