@import "bootstrap";
@import 'blog';


#error_explanation {
  margin: 20px 0px;
  color: theme-color("danger");
  h2{
    text-align: left;
    font-size: 16px;
    color: theme-color("danger");
    margin-bottom: 10px;
  }
  ul {
    color: theme-color("danger");
    margin: 0 0 30px 0;
    li {
      font-size: 14px;
    }
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
  }

}

.field_with_errors {
  label {
    color: theme-color("danger");
  }
  .form-control {
    color: theme-color("danger");
  }
}

.or{
  padding: 0px 5px;
  color: #586069;
}