!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Krumblr
    = csrf_meta_tags
    = csp_meta_tag
    %link{href: "https://fonts.googleapis.com/css?family=Playfair+Display:700,900", rel: "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %header.blog-header.py-3
        .row.flex-nowrap.justify-content-between.align-items-center
          .col-4.pt-1
            
          .col-4.text-center
            %a.blog-header-logo.text-dark{href: root_path} Krumblr
          .col-4.d-flex.justify-content-end.align-items-center
            - if user_signed_in?
              = link_to "Profile", edit_user_registration_path, class: 'btn btn-sm btn-outline-secondary'
              .or or
              = link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary'
            - else
              %a.btn.btn-sm.btn-outline-secondary{href: new_user_session_path} Sign in
              .or or
              %a.btn.btn-sm.btn-outline-secondary{href: new_user_registration_path} Sign up
      
      = top_navigation          

    %main.container{role: "main"}
      - flash.each do |key, value|
        %div{class: "#{flash_class(key)}", role: 'alert' }
          = value
      = yield
      %br
          
    %footer.blog-footer
      %p
        Krumblr Blog built using
        %a{href: "https://getbootstrap.com/"} Bootstrap
        by
        = succeed "." do
          %a{href: "https://github.com/abdulrauf"} @abdulrauf
      %p
        %a{href: "#"} Back to top
    